body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: white;
}

hr {
	max-width: 65px;
	border-width: 3px;
}

header.startup {
	background-position: center;
	background-image: url("header.jpg");
	background-size: cover;
	height: 100%;
}

header.startup hr {
  margin-top: 200px;
  margin-bottom: 30px; 
}

/*header.startup h1 {
  font-size: 2rem; 
}
*/

.btn {
	font-weight: 700;
	border-radius: 40px;
	font-family: Raleway-SemiBold;
	font-size: 15px;
}

.btn-success {
	color: white;
	letter-spacing: 1px;
	line-height: 15px;
	border: 2px solid orange;
	background-color: orange;
}

.btn-success:hover {
	color: black;
	background: red;
	border: 2px solid red;
	cursor: pointer;
}
